@import "variables";

// main less styles

#responsive {

	&.modal {
		background-color: @modal-bg-color-gray;
		width: 900px;

		#user-state {
			width: 50%;
			float: left;
		}

		#user-address {
			width: 50%;
			float: right;
		}

		input[type="submit"] {
			padding: 14px;
	    border-radius: 5px;
	    font-size: 20px;
	    font-weight: bold;
	    background-color: @submit-btn-background-color;
	    border-color: @submit-btn-border-color;
	    border: 0;
	    color: @font-color-white;
	    width: 170px;
	    margin-top: 25px;
		}

		.modal-header {
			border-bottom: none;
		}

		.modal-body {
			padding: 0 26px 40px;
		}

		.modal-dialog {
			@media (min-width: 768px) {
		    width: auto;
		    margin: 0 auto;
		  }
		  margin: 0;
		}

		&.fade {
			transition: top .5s ease-out,bottom .5s ease-out,margin-top 1s ease-out;

			&.in {
				top: 5%;
				left: 40%;
				@media (min-width: 400px) and (max-width:980px) {
					left: 0%;
				}
			}
		}

		.col-50 {
			width: 47%;
			float: left;
			@media (max-width:980px) {
				width: 45%;
			}
		}

		select {
			height: 52px; 
			background-color: @font-color-white;
	    border: 1px solid @input-border-color;
	    outline: none;
	    font-size: 16px;       
	    width: 92%;
	   -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;

			&::-webkit-input-placeholder,
			&::-moz-placeholder,
			&:-ms-input-placeholder,
			&:-moz-placeholder {
			  color: @input-placeholder-color;
			}  
		}

		.select {   
	    border-radius:3px;
	    color:#616263;
	    overflow: hidden; 
	    position: relative;
	    display: block;

	    &:after {
	    	content:"▼";    
		    padding: 12px 14px;
		    position: absolute; 
		    right: 10px; 
		    top: 28px;    
		    z-index: 1;
		    text-align: center;
		    width: 10%;
		    height: 100%;      
		    pointer-events: none;
		    box-sizing: border-box;   
	    }
		}	

		.right-col {
			text-align:center;
			padding-top: 10px;

			@media (max-width:990px) {
				margin-top:84px;
			}

			#bg_image {
				background-image: url("../images/imgnocheckmark.png");
		    background-repeat: no-repeat;
		    @media (max-width: 400px) {
					background-size: 90% 90%;
				}
		    background-size: 100% 100%;
		    width: 400px;
		    height: 300px;
			}
		}

		.form-horizontal {
			.form-control {
				border-radius: 2px;
		    box-sizing: border-box;
		    font-size: 16px;
		    height: 57px;
		    margin: 0 15px;
		    @media (max-width: 400px) {
		    	margin: 0 auto;
		    }
		    padding: 15px;
				-moz-box-sizing: border-box;
			}

			input {
				&::-webkit-input-placeholder,
				&::-moz-placeholder,
				&:-ms-input-placeholder,
				&:-moz-placeholder {
				  color: @input-placeholder-color;
				}

				&::-webkit-contacts-auto-fill-button {
				  visibility: hidden;
				  display: none !important;
				  pointer-events: none;
				  position: absolute;
				  right: 0;
				}

				&.invalid {
					border: 2px solid @error-background-color;
				}

				&.valid {
					border: 2px solid green;
					background-image: url("../images/img-valid.svg");
					background-repeat: no-repeat;
			    background-position: right;
			    background-size: 41px 19px;
				}
			}

			.error {
				display: none;
				color: @font-color-white;
		    padding: 5px;
		    background-color: @error-background-color;
		    margin-left: 15px;
		    width: 100%;
			}		

			.error_show{
				color: @font-color-white;
				padding: 5px;
				background-color: @error-background-color;
				margin-left: 15px;
				@media (max-width: 400px) {
					margin-left:0;
				}
		    width: 100%;
			}

			.row{
				&:first-child {
					.floating-label-form-group {
						border: 1px solid @input-border-color;
					}
				}
			}

			.form-group {
		    margin-right: 0;
		    margin-left: 0;

				&.address {
					margin-left: 24px;
				}
		  }

		  .floating-label-form-group {
			  margin-bottom: 0;
			  position: relative;

			  input {
			  	box-shadow: none;
				  position: relative;
				  z-index: 1;
				  resize: none;
			  }

			  label {
			  	display: block;
				  position: relative;
				  padding-left: 15px;
				  @media (max-width: 400px) {
						padding-left:0;
					}
				  top: 2em;
				  opacity: 0;
				  z-index: 0;
				  font-size: 0.85em;
				  line-height: 1.764705882em;
				  vertical-align: middle;
				  vertical-align: baseline;
				  margin: 0;
				  -webkit-transition: @floating-label-transition;
				     -moz-transition: @floating-label-transition;
				      -ms-transition: @floating-label-transition;
				          transition: @floating-label-transition;
			  }
			}

			.floating-label-form-group-with-value  {
				label {
				  top: 0;
				  opacity: 1;
			  }
			}

			.floating-label-form-group-with-focus {
				label {
			  	color: @font-color-black;
			  }
			}
	  }
	}
}

.modal-backdrop, .modal-backdrop.fade.in {
	background: @font-color-black;
}
