// Place to add variables
@font-color-white: #ffffff;
@input-border-color: #cccccc;
@input-placeholder-color: #9d9d9d;
@error-background-color: #e75600;
@submit-btn-background-color: #ff851f;
@submit-btn-border-color: #e56800;
@font-color-black: #000000;
@modal-bg-color-gray: #eeeeee;
@floating-label-transition: top 0.5s ease, opacity 0.5s ease;
