#responsive.modal {
  background-color: #eee;
  width: 900px;
  left: 40%;
}
#responsive.modal.fade {
  transition: top 0.5s ease-out, bottom 0.5s ease-out, margin-top 1s ease-out;
}
#responsive.modal.fade.in {
  top: 20%;
}
#responsive.modal #user-state {
  width: 50%;
  float: left;
}
#responsive.modal #user-address {
  width: 50%;
  float: right;
}
#responsive.modal input[type="submit"] {
  padding: 14px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  background-color: #ff851f;
  border-color: #e56800;
  border: 0;
  color: #fff;
  width: 170px;
  margin-top: 25px;
}
#responsive.modal .modal-header {
  border-bottom: none;
}
#responsive.modal .modal-body {
  padding: 0 26px 40px;
}
#responsive.modal .col-50 {
  width: 47%;
  float: left;
}
#responsive.modal select {
  height: 52px;
}
#responsive.modal select::-webkit-input-placeholder,
#responsive.modal select::-moz-placeholder,
#responsive.modal select:-ms-input-placeholder,
#responsive.modal select:-moz-placeholder {
  color: #9d9d9d;
}
#responsive.modal .right-col {
  text-align: center;
  padding-top: 10px;
}
#responsive.modal .right-col #bg_image {
  background-image: url("../images/imgnocheckmark.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 400px;
  height: 300px;
}
#responsive.modal .form-horizontal .form-control {
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 16px;
  height: 57px;
  margin: 0 15px;
  padding: 15px;
  -moz-box-sizing: border-box;
}
#responsive.modal .form-horizontal input::-webkit-input-placeholder,
#responsive.modal .form-horizontal input::-moz-placeholder,
#responsive.modal .form-horizontal input:-ms-input-placeholder,
#responsive.modal .form-horizontal input:-moz-placeholder {
  color: #9d9d9d;
}
#responsive.modal .form-horizontal input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}
#responsive.modal .form-horizontal input.invalid {
  border: 2px solid #e75600;
}
#responsive.modal .form-horizontal input.valid {
  border: 2px solid green;
  background-image: url("../images/img-valid.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 41px 19px;
}
#responsive.modal .form-horizontal .error {
  display: none;
  color: #fff;
  padding: 5px;
  background-color: #e75600;
  margin-left: 15px;
  width: 100%;
}
#responsive.modal .form-horizontal .error_show {
  color: #fff;
  padding: 5px;
  background-color: #e75600;
  margin-left: 15px;
  width: 100%;
}
#responsive.modal .form-horizontal .row:first-child .floating-label-form-group {
  border: 1px solid #ccc;
}
#responsive.modal .form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
}
#responsive.modal .form-horizontal .form-group.address {
  margin-left: 24px;
}
#responsive.modal .form-horizontal .floating-label-form-group {
  margin-bottom: 0;
  position: relative;
}
#responsive.modal .form-horizontal .floating-label-form-group input {
  box-shadow: none;
  position: relative;
  z-index: 1;
  resize: none;
}
#responsive.modal .form-horizontal .floating-label-form-group label {
  display: block;
  position: relative;
  padding-left: 15px;
  top: 2em;
  opacity: 0;
  z-index: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  margin: 0;
  -webkit-transition: top 0.5s ease, opacity 0.5s ease;
  -moz-transition: top 0.5s ease, opacity 0.5s ease;
  -ms-transition: top 0.5s ease, opacity 0.5s ease;
  transition: top 0.5s ease, opacity 0.5s ease;
}
#responsive.modal .form-horizontal .floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
#responsive.modal .form-horizontal .floating-label-form-group-with-focus label {
  color: #000;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  background: #000;
}
